:root {
    --gridColumns: 1fr 400px 880px 1fr;
    --black: #000;
    --yellow: #FED941;
    --gray: #808080;
    --white: #FFF;

    font-size: 16px;
    --baseFontFamily: 'Inter', sans-serif;
    /*font: font-weight font-size / line-height font-family*/
    --headLine1: bold 3rem / 3.625rem var(--baseFontFamily);
    --headLine2: bold 3rem / 3.625rem var(--baseFontFamily);
    --headLine3: bold 2.3125rem / normal var(--baseFontFamily);
    --headLine4: bold 1.75rem / normal var(--baseFontFamily);
    --headLine5: bold 1.5rem / normal var(--baseFontFamily);
    --baseFont: normal 1.125rem / normal var(--baseFontFamily);
    --baseFontBold: bold .1.125rem / normal var(--baseFontFamily);
    --small: normal .75em / normal var(--baseFontFamily);
    --button: bold 1.125rem / 1.75rem var(--baseFontFamily);
}

body {
    margin: 0;
    font-family: var(--baseFontFamily);
    overflow-x: hidden; /* añadido para quitar el overflow-x del pseudo elemento after de la sección 3*/
}

header {
    color: var(--white);
    grid-area: header;
    background: black;
}

.header-grid {
    display: grid;
    grid-template-columns: 1fr 1280px 1fr;
    grid-template-areas:    "wrapper-start header-content wrapper-end";
    /*align-items: center;
    border: 1px solid blue;*/
}

.header-content {
    height: 86px;
    grid-area: header-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content img {
    width: 100%;
}

nav ul {
    margin: 0;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    text-decoration: none;
    color: var(--gray);
    font: var(--button);
    padding: 29px 20px;
}

a.active {
    color: var(--white);
    border-bottom: 4px solid var(--white);
}

.login button {
    color: var(--black);
    background-color: var(--white);
    border-radius: .5rem;
    padding: 0.3125rem 1rem;
    border: none;
    font: var(--button);
    border: 1px solid transparent;
}

.login button:hover {
    cursor: pointer;
    color: var(--white);
    background: transparent;
    border: 1px solid var(--white);
}

.grid {
    display: grid;
    grid-template-columns: var(--gridColumns);
    /*grid-template-rows: 85px;*/
    grid-template-areas:    "header header header header"
                            "wrapper-start phone content wrapper-end"
                            "wrapper-start phone s1-content wrapper-end"
                            "wrapper-start phone s2-content wrapper-end"
                            "wrapper-start phone s3-content wrapper-end"
                            "wrapper-start phone s4-content wrapper-end";
}

.hero {
    grid-column: 1 / -1;
    grid-row-start: 2;
    display: grid;
    grid-template-columns: var(--gridColumns);
    background-image: url('../images/background.png');
    background-size: cover;

}

.hero-content {
    grid-row-start: 1;
    grid-column-start: 3;
    align-self: center;
    padding-bottom: 13.125rem;
}

.hero-content h1 {
    font: var(--headLine1);
    color: var(--white);
}

.hero-content p {
    font: var(--baseFontBold);
    color: var(--gray);
}

.hero-content button {
    border: 1px solid var(--white);
    color: var(--white);
    font: var(--button);
    background: transparent;
    border-radius: .5rem;
    padding: .75rem 3.8125rem;
    margin-top: 3rem;
}


.hero-content button:hover {
    cursor: pointer;
    background: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
}

.hero-content a {
    color: var(--gray);
    display: block;
    margin-top: 1.5rem;
}

.phone {
    aspect-ratio: 9/16;
    inline-size: 400px;
    position: sticky;
    inset-block-start: 0;
    /*background: lightgreen;*/
    grid-area: phone;
}

section {
    grid-column: 1 / -1;
    min-block-size: 775px;
}

.s1-content, .s2-content, .s4-content, h2 {
    font: var(--headLine3);
    color: var(--black);
}
.s1-content, .s2-content, .s3-content, .s4-content p {
    font: var(--baseFont);
    color: var(--gray);
}

.section-1 {
    grid-area: s1-content;
}
.section-2 {
    grid-area: s2-content;
    /*background-image: url('../images/planta.png');
    background-size: cover;*/

    grid-column: 1 / -1;
    grid-row-start: 4;
    display: grid;
    grid-template-columns: var(--gridColumns);
    background-image: url('../images/planta.png');
    background-position: right bottom;
    background-size: cover;
}

.s2-content {
    grid-row-start: 1;
    grid-column-start: 3;
    align-self: center;
}

.s2-content p {
    color: var(--gray);
}
.section-3 {
    grid-area: s3-content;

    grid-column: 1 / -1;
    grid-row-start: 5;
    display: grid;
    grid-template-columns: var(--gridColumns);
    background-color: var(--black);
}
.s3-content {
    grid-row-start: 1;
    grid-column-start: 3;
    align-self: center;
    position: relative;
}

.s3-content::before {
    content: '';
    width: 100%;
    height: 40px;
    background: #2FB464;
    position: absolute;
    bottom: -60px;
    border-radius: 1.5rem;
    z-index: 2;
}
.s3-content::after {
    content: '';
    width: 100%;
    height: 40px;
    background: var(--white);
    position: absolute;
    bottom: -60px;
    left: 36%;
    z-index: 0;
    overflow-x: hidden;
}

.s3-content h2, p {
    color: var(--white);
}
.section-4 {
    grid-area: s4-content;
}

.section-5 {
    background-color: #ECEEF1;
    position: relative;
    padding-block-end: 12.5rem;
}

.section-5 h2 {
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 5rem;
}

.section-5 .stories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
    gap: 1.5rem;
}

.section-5 .storie {
    background-color: var(--white);
    max-width: 26.625rem;
    position: relative;
    padding-top: 8rem;
    padding-bottom: 2rem;
    border-radius: .5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-5 .storie img {
    position: absolute;
    top: -50px;
    left: calc(50% - 50.5px);
}

.section-5 .storie blockquote {
    text-align: center;
}

.section-5 .storie .sign {
    text-align: center;
    color: var(--gray);
}
.section-5 .storie .sign b {
    display: block;
    color: black;
}

.section-5 .sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    max-inline-size: 54.75rem;
    inline-size: 50%;
    margin: 0 auto;
    border-radius: .5rem;
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: -15%;
    left: 25%;
    padding: 4rem;
}

.section-5 .sign-up button {
    border: 1px solid transparent;
    color: var(--white);
    font: var(--button);
    background: var(--black);
    border-radius: .5rem;
    padding: .75rem 3.8125rem;
    margin-top: 3rem;
}
.section-5 .sign-up button:hover {
    cursor: pointer;
    background: transparent;
    color: var(--black);
    border: 1px solid var(--black);
}

.section-5 .sign-up h2 {
    margin: 0;
    padding: 0;
}

.section-5 .sign-up p {
    color: var(--gray);
}

.footer {
    padding-top: 13rem;
    background-color: var(--black);
    color: var(--white);
}

.footer h2, h5 {
    color: var(--white);
    margin: 0;
    margin-bottom: .25rem;
    font: var(--button);
}

.foot-wrapper {
    max-inline-size: 1366px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 4rem;
    gap: 8rem;
}

.foot-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: var(--gray);
}

.foot-wrapper li {
    margin-bottom: .25rem;
}


@media (max-width: 768px) {
    .section-5 .stories {
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }
}